USE [master]
GO
/****** Object:  Database [TPDataBase]    Script Date: 29/11/2024 15:20:17 ******/
DECLARE @dataDirectory NVARCHAR(255) = (SELECT SERVERPROPERTY('InstanceDefaultDataPath'))
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'TPDataBase')
BEGIN
    EXEC('
    CREATE DATABASE [TPDataBase]
     CONTAINMENT = NONE
     ON  PRIMARY 
    ( NAME = N''TPDataBase'', FILENAME = N''' + @dataDirectory + 'TPDataBase.mdf'' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
     LOG ON 
    ( NAME = N''TPDataBase_log'', FILENAME = N''' + @dataDirectory + 'TPDataBase_log.ldf'' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
     WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
    ')

    ALTER DATABASE [TPDataBase] SET COMPATIBILITY_LEVEL = 160
    IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
    begin
        EXEC [TPDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
    end
    ALTER DATABASE [TPDataBase] SET ANSI_NULL_DEFAULT OFF
    ALTER DATABASE [TPDataBase] SET ANSI_NULLS OFF
    ALTER DATABASE [TPDataBase] SET ANSI_PADDING OFF
    ALTER DATABASE [TPDataBase] SET ANSI_WARNINGS OFF
    ALTER DATABASE [TPDataBase] SET ARITHABORT OFF
    ALTER DATABASE [TPDataBase] SET AUTO_CLOSE ON
    ALTER DATABASE [TPDataBase] SET AUTO_SHRINK OFF
    ALTER DATABASE [TPDataBase] SET AUTO_UPDATE_STATISTICS ON
    ALTER DATABASE [TPDataBase] SET CURSOR_CLOSE_ON_COMMIT OFF
    ALTER DATABASE [TPDataBase] SET CURSOR_DEFAULT  GLOBAL
    ALTER DATABASE [TPDataBase] SET CONCAT_NULL_YIELDS_NULL OFF
    ALTER DATABASE [TPDataBase] SET NUMERIC_ROUNDABORT OFF
    ALTER DATABASE [TPDataBase] SET QUOTED_IDENTIFIER OFF
    ALTER DATABASE [TPDataBase] SET RECURSIVE_TRIGGERS OFF
    ALTER DATABASE [TPDataBase] SET  ENABLE_BROKER
    ALTER DATABASE [TPDataBase] SET AUTO_UPDATE_STATISTICS_ASYNC OFF
    ALTER DATABASE [TPDataBase] SET DATE_CORRELATION_OPTIMIZATION OFF
    ALTER DATABASE [TPDataBase] SET TRUSTWORTHY OFF
    ALTER DATABASE [TPDataBase] SET ALLOW_SNAPSHOT_ISOLATION OFF
    ALTER DATABASE [TPDataBase] SET PARAMETERIZATION SIMPLE
    ALTER DATABASE [TPDataBase] SET READ_COMMITTED_SNAPSHOT OFF
    ALTER DATABASE [TPDataBase] SET HONOR_BROKER_PRIORITY OFF
    ALTER DATABASE [TPDataBase] SET RECOVERY SIMPLE
    ALTER DATABASE [TPDataBase] SET  MULTI_USER
    ALTER DATABASE [TPDataBase] SET PAGE_VERIFY CHECKSUM  
    ALTER DATABASE [TPDataBase] SET DB_CHAINING OFF
    ALTER DATABASE [TPDataBase] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF )
    ALTER DATABASE [TPDataBase] SET TARGET_RECOVERY_TIME = 60 SECONDS
    ALTER DATABASE [TPDataBase] SET DELAYED_DURABILITY = DISABLED
    ALTER DATABASE [TPDataBase] SET ACCELERATED_DATABASE_RECOVERY = OFF  
    ALTER DATABASE [TPDataBase] SET QUERY_STORE = ON
    ALTER DATABASE [TPDataBase] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200)
END
USE [TPDataBase]

/****** Object:  Table [dbo].[CLASE]    Script Date: 29/11/2024 15:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'CLASE' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
    CREATE TABLE [dbo].[CLASE](
        [ID_CLASE] [int] IDENTITY(1,1) NOT NULL,
        [DESCRIPCION] [varchar](50) NOT NULL,
        [DIA_CLASE] [varchar](50) NOT NULL,
        [HORARIO] [varchar](50) NOT NULL,
        [ENTRENADOR] [varchar](50) NOT NULL,
        [CAPACIDAD_MAXIMA] [int] NOT NULL,
     CONSTRAINT [PK_CLASE] PRIMARY KEY CLUSTERED 
    (
        [ID_CLASE] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CLASE_MIEMBRO]    Script Date: 29/11/2024 15:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'CLASE_MIEMBRO' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
    CREATE TABLE [dbo].[CLASE_MIEMBRO](
        [ID_CLASE] [int] NOT NULL,
        [ID_MIEMBRO] [int] NOT NULL,
        [FECHA_INSCRIPCION] [date] NOT NULL,
        [FECHA_VENCIMIENTO] [date] NOT NULL
    ) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MEMBRESIA]    Script Date: 29/11/2024 15:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'MEMBRESIA' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
CREATE TABLE [dbo].[MEMBRESIA](
	[ID_MEMBRESIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[PRECIO] [decimal](12, 2) NOT NULL,
	[DURACION_DIAS] [int] NOT NULL,
 CONSTRAINT [PK_MEMBRESIA] PRIMARY KEY CLUSTERED 
(
	[ID_MEMBRESIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MIEMBRO]    Script Date: 29/11/2024 15:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'MIEMBRO' AND schema_id = SCHEMA_ID('dbo'))
BEGIN
CREATE TABLE [dbo].[MIEMBRO](
	[ID_MIEMBRO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_APELLIDO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[CORREO_ELEC] [varchar](50) NOT NULL,
	[ID_MEMBRESIA] [int] NOT NULL,
 CONSTRAINT [PK_MIEMBRO] PRIMARY KEY CLUSTERED 
(
	[ID_MIEMBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[MEMBRESIA] ON 

INSERT [dbo].[MEMBRESIA] ([ID_MEMBRESIA], [DESCRIPCION], [PRECIO], [DURACION_DIAS]) VALUES (1, N'Mensual', CAST(1500.00 AS Decimal(12, 2)), 30)
INSERT [dbo].[MEMBRESIA] ([ID_MEMBRESIA], [DESCRIPCION], [PRECIO], [DURACION_DIAS]) VALUES (2, N'Trimestral', CAST(4500.00 AS Decimal(12, 2)), 90)
INSERT [dbo].[MEMBRESIA] ([ID_MEMBRESIA], [DESCRIPCION], [PRECIO], [DURACION_DIAS]) VALUES (3, N'Anual', CAST(18000.00 AS Decimal(12, 2)), 360)
SET IDENTITY_INSERT [dbo].[MEMBRESIA] OFF
GO
ALTER TABLE [dbo].[CLASE_MIEMBRO]  WITH CHECK ADD  CONSTRAINT [FK_CLASE_MIEMBRO_CLASE] FOREIGN KEY([ID_CLASE])
REFERENCES [dbo].[CLASE] ([ID_CLASE])
GO
ALTER TABLE [dbo].[CLASE_MIEMBRO] CHECK CONSTRAINT [FK_CLASE_MIEMBRO_CLASE]
GO
ALTER TABLE [dbo].[CLASE_MIEMBRO]  WITH CHECK ADD  CONSTRAINT [FK_CLASE_MIEMBRO_MIEMBRO] FOREIGN KEY([ID_MIEMBRO])
REFERENCES [dbo].[MIEMBRO] ([ID_MIEMBRO])
GO
ALTER TABLE [dbo].[CLASE_MIEMBRO] CHECK CONSTRAINT [FK_CLASE_MIEMBRO_MIEMBRO]
GO
ALTER TABLE [dbo].[MIEMBRO]  WITH CHECK ADD  CONSTRAINT [FK_MIEMBRO_MEMBRESIA] FOREIGN KEY([ID_MEMBRESIA])
REFERENCES [dbo].[MEMBRESIA] ([ID_MEMBRESIA])
GO
ALTER TABLE [dbo].[MIEMBRO] CHECK CONSTRAINT [FK_MIEMBRO_MEMBRESIA]
GO
USE [master]
GO
